html { font-size: 62.5%; min-height: 100%; }

body {
  background: #78909C;
  direction: rtl;
  margin: 0;
  font-size: 1.8rem;
  font-family: 'Avenir', Arial, sans-serif;
  min-height: 100%;
  padding-top: 120px;
  padding-bottom: 30px;
}

nav p{
  color:#ECEFF1;
  line-height: 50px;
  margin: 0;
}

.navbar a.navbar-brand {
  text-align: center;
}

.navbar + .navbar {
  top: 50px;
}

/*LOGIN TEMPLATE*/

.login {
    text-align: center;
}

/*.main-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 6rem;
  color: white;
  background: #444;
  line-height: 6rem;
  transform: translateY(0);
  transform: translate3d(0,0,0);
  transition: .25s transform;
  backface-visibility: hidden;
  padding-right: 20px;
}

.heads-up {
  transform: translateY(-6rem);
  transform: translate3d(0,-6rem,0);
}

.main-header h1 {
  float: left;
  vertical-align: middle;
  font-size: 1.4rem;
  margin: 0 0 0 2rem;
  text-transform: uppercase;
}

.main-header p {
  float: right;
  font-size: 1.4rem;
  margin: 0 0 0 2rem;
}

.main-header nav {
  float: right;
  font-size: 1.4rem;
}

.main-header nav ul { 
  margin: 0; 
  padding: 0; 
}

.main-header nav li {
  display: inline-block;
  padding: 0 2rem;
  border-left: .1rem solid #555;
}

*/

main { 
  display: block;
  min-height: 900px;
  padding: 3rem 6rem;
  background: #EEE;
  direction: rtl;
}

/*CREATE USER TEMPLATE*/

.create_user {
  max-width: 600px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
}

.create_user {
  min-height: 400px;
  max-width: 600px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1); 
}

.create_user label {
    float: right;
    clear: left;
    width: 150px;
    text-align: right;
    }

.create_user li {
     list-style-type: none;
}

.create_user input {
    float: left;
}

.create_user input.btn-primary  {
  float: right;
}

.errorlist {
  color: red;
}

/*UPDATE USER TEMPLATE*/

.update_user {
  min-height: 500px;
  max-width: 600px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1); 
}

.update_user label {
    float: right;
    clear: left;
    width: 150px;
    text-align: right;
    }

.update_user li {
     list-style-type: none;
}

.update_user input {
    float: left;
}

.update_user input.btn-primary  {
  margin-top: 10px;
  float: right;
}

/*PROFILE TEMPLATE*/

.profile .title {
  text-align: center;
}

.profile .profile-img{
    max-height: 250px;
    max-width: 250px;
    float: left;
}

/*CV LIST TEMPLATE*/

.cv-preview {
  border: 1px solid black;
}

.cv-info {
  max-height: 80vh;
  overflow-y: auto;
}

.details {
  border: 1px solid black;
}

.details .image {
  float: left;
}

.preview {
  border: 3px dashed #ff0080;
  height: 700px;
}

.details li {
     list-style-type: none;
}