html { font-size: 62.5%; min-height: 100%; }

body {
  background: #78909C;
  direction: rtl;
  margin: 0;
  font-size: 1.8rem;
  font-family: 'Avenir', Arial, sans-serif;
  min-height: 100%;
  padding-top: 120px;
  padding-bottom: 30px;
}

.navbar.navbar-fixed-top {
  background-color: #607D8B;
}

.navbar a.navbar-brand  {
  color: black;
}

nav p{
  color:black;
  line-height: 50px;
  margin: 0;
}

.navbar + .navbar {
  top: 50px;
}

/*LOGIN TEMPLATE*/

.login {
    text-align: center;
}

main { 
  display: block;
  min-height: 900px;
  padding: 3rem 6rem;
  background: #EEE;
  direction: rtl;
}

main.container {
  width: 80%;
}

/*CREATE USER TEMPLATE*/

.create_user {
  max-width: 600px;
  padding:  5px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
}

.create_user {
  min-height: 400px;
  max-width: 600px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1); 
}

.create_user label {
    float: right;
    clear: left;
    width: 150px;
    text-align: right;
    }

.create_user li {
     list-style-type: none;
}

.create_user input {
    float: left;
}

.create_user input.btn-primary  {
  float: right;
}

.errorlist {
  color: red;
}

/*UPDATE USER TEMPLATE*/

.update_user {
  min-height: 500px;
  max-width: 600px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1); 
}

.update_user label {
    float: right;
    clear: left;
    width: 150px;
    text-align: right;
    }

.update_user li {
     list-style-type: none;
}

.update_user input {
    float: left;
}

.update_user input.btn-primary  {
  margin-top: 10px;
  float: right;
}

/*PROFILE TEMPLATE*/

.title {
  text-align: center;
}

.profile .profile-preview {
  text-align: center;
  overflow: hidden;
} 

.profile .profile-img{
    /*max-height: 300px;*/
    max-width: 200px;
    float: left;
    margin-left: 10px;
}

.profile .col-md-8 {
  float: right;
  margin-right: 10px;
}

/*CV LIST TEMPLATE*/

.cv-preview {
  border: 1px solid black;
}

.cv-info {
  /*border: 3px dashed blue;*/
  max-height: 73vh;
  overflow-y: auto;
}

.details {
  border: 1px solid black;
  overflow: hidden;
  /*max-height: 200px;*/
}

.details .image {
  float: left;
}

.preview {
  /*border: 3px dashed #ff0080;*/
  height: 73vh;
}

.details li {
     list-style-type: none;
}

.details p {
  max-height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}