{% extends 'cvr/base.html' %}

{% block title %}{{ block.super }} -  רשימת קורות חיים{% endblock %}
{% block header %}
    <li role="presentation"><a href="{% url 'logout' %}" class="btn btn-primary">התנתקות</a></li>
{% endblock %}



{% block content %}
<p align="center">רשימת סטודנטים המעוניינים בעבודה מעניינת</p>
    <div class="container-fluid">
        <div class="cv-list row">
            <iframe id="preview" name="preview" class="preview col-md-6"></iframe>
            <div class="cv-info col-md-6">
                {% for user in users %}
                    {% if not user.is_staff and user.profile.is_approved and user.profile.cv %}
                        <div class="details">
                                <img class="image img-thumbnail" src="{{ user.profile.image.url }}" alt="{{ user.profile.first_name }}" class="img-thumbnail profile-img" width="100">
                                <li><a href="{% url 'profile' profile_id=user.profile.id %}">{{ user.profile.first_name }} {{ user.profile.last_name }}</a></li>
                                <p>{{ user.profile.free_text }}</p>
                                {% if ".pdf" in user.profile.cv.path  %}
                                    <a class="btn btn-primary" href="{{ MEDIA_URL }}{{ user.profile.cv.name }}" target="preview">צפה בקורות חיים</a>
                                {% else %}
                                    <a href="{% url 'download' path=user.profile.cv.name %}" class="btn btn-primary">הורד קורות חיים</a>
                                    <p>לא ניתן לצפות בקורות חיים שאינם בפורמט pdf</p>
                                {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
