{% extends 'cvr/base.html' %}

{% block title %}{{ block.super }} -  דף בית{% endblock %}
{% block header %}
  {% if not user.is_authenticated %}
    <li role="presentation"><a href="{% url 'login' %}" class="btn btn-primary">כניסה לאתר</a></li>
    <li role="presentation"><a href="{% url 'register' %}" class="btn btn-primary">הרשם לאתר</a></li>
  {% else %}
    <li role="presentation"><a href="{% url 'logout' %}" class="btn btn-primary">התנתקות</a></li>
    {% if not user.is_staff and not user.profile.is_privledged %}
    <li role="presentation"><a href="{% url 'profile' profile_id=user.profile.id %}" class="btn btn-primary">פרופיל</a></li>
    {% endif %}
    {% if user.is_staff %}
    <li role="presentation"><a href="{% url 'cv_list' %}" class="btn btn-primary">רשימת משתמשים</a></li>
    {% endif %}
  {% endif %}
{% endblock %}

{% block content %}
  {% if user.is_staff %}
    {% if profiles %}
        <h2>רשימת משתמשים חדשים לאישור</h2>
        <form action="{% url 'home' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% for profile in profiles %}
            {% if profile.first_name %}
            <div>
              <input type="checkbox" value='{{ profile.id }}' name="approve" >
              <a href="{% url 'profile' profile_id=profile.id %}">{{ profile.first_name }} {{ profile.last_name }}</a>
            </div>
            {% endif %}
          {% endfor %}
          <br>
          <input type="submit" value="אשר משתמשים" class="btn btn-primary">
        </form>
    {% else %}
      <h2>אין משתמשים חדשים הממתינים לאישור</h2>
    {% endif %}
     {% if all_profiles %}
        <h2>משתמשים הניתנים למחיקה</h2>
        <form action="{% url 'home' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% for profile in all_profiles %}
          <div>
            <input type="checkbox" value='{{ profile.id }}' name="delete" >
            <a href="{% url 'profile' profile_id=profile.id %}">{{ profile.id }} : {{ profile.first_name }} {{ profile.last_name }}</a>
          </div>
          {% endfor %}
          <br>
          <input type="submit" value="מחק משתמשים" class="btn btn-primary">
        </form>
    {% else %}
      <h2>אין משתמשים שניתן למחוק</h2>
    {% endif %}
    {% if all_profiles %}
        <h2>מעסיקים פוטנציאליים</h2>
        <form action="{% url 'home' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% for profile in all_profiles %}
          <div>
            <input type="checkbox" value='{{ profile.id }}' name="privilege" {% if profile.is_privledged %} checked {% endif %}>
            <a href="{% url 'profile' profile_id=profile.id %}">{{ profile.id }} : {{ profile.first_name }} {{ profile.last_name }}</a>
          </div>
          {% endfor %}
          <br>
          <input type="submit" value="אשר מעסיקים" class="btn btn-primary">
        </form>
    {% else %}
      <h2>אין משתמשים שניתן להפוך למעסיקים</h2>
    {% endif %}
  {% else %}
    HOME
  {% endif %}
{% endblock %}


