{% extends 'cvr/base.html' %}

{% block title %}{{ block.super }} -כניסה{% endblock %}

{% block header %}
  <li role="presentation"><a href="{% url 'register' %}" class="btn btn-primary">הרשם לאתר</a></li>
  <li role="presentation"><a href="{% url 'home' %}" class="btn btn-primary">חזרה לדף הבית</a></li>
{% endblock %}

{% block content %}
  <div class='login'>
  <h2>כניסה לאתר</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">התחבר</button>
  </form>
  </div>
{% endblock %}
