{% extends 'cvr/base.html' %}

{% block title %}{{ block.super }} -כניסה{% endblock %}

{% block header %}
  <li role="presentation"><a href="{% url 'register' %}" class="btn btn-primary">הרשם לאתר</a></li>
{% endblock %}

{% block content %}
  <div class='login'>
  <h2>כניסה לאתר</h2>
  <form method="post">
    {% csrf_token %}

{% if form.errors %}
אימייל או סיסמא אינם נכונים.
{% endif %}
  <div class="fieldWrapper">
      {{ form.username.errors }}
      <label for="{{ form.username.id_for_label }}" style="width:100px" >אימייל:</label>
      {{ form.username }}
  </div>
  <div class="fieldWrapper">
      {{ form.password.errors }}
      <label for="{{ form.password.id_for_label }}" style="width:100px">סיסמא:</label>
      {{ form.password }}
  </div>

    <br>
    <button type="submit" class="btn btn-primary">התחבר</button>
    <a href="{% url "password_reset_recover" %}" class="btn btn-primary">שחזור סיסמא</a>
  </form>
  
  </div>
{% endblock %}
