{% extends 'cvr/base.html' %}

{% block title %}{{ block.super }} - פרופיל{% endblock %}
{% block header %}
    <li role="presentation"><a href="{% url 'logout' %}" class="btn btn-primary">התנתקות</a></li>
    {% if user.is_staff or user.profile.is_privledged %}
        <li role="presentation"><a href="{% url 'home' %}" class="btn btn-primary">חזרה לדף הבית</a></li>
    {% endif %}
    {% if user.is_staff or user.profile.id == profile.id %}
        <li role="presentation"><a href="{% url 'update_profile' profile_id=profile.id %}" class="btn btn-primary">עדכון פרטים</a></li>
    {% endif %}
{% endblock %}


{% block content %}
<h2 class="title">פרופיל משתמש</h2>
<div class="profile">
    <div class="row">
        <img src="{{ profile.image.url }}" alt="{{ profile.first_name }}" class="img-thumbnail profile-img col-md-4">
        <div class="profile-data col-md-8">
            <p><b>שם פרטי :</b> {{ profile.first_name }}</p>
            <p><b>שם משפחה :</b> {{ profile.last_name }}</p>
            <p><b>אימייל :</b> {{ user.email }}</p>
            <p><b>קצת על עצמי :</b> {{ profile.free_text }}</p>
            {% if user.is_staff %}
            <p><b>קורות חיים :</b> {{ profile.cv.name }}</p>
            <p><b>תמונה :</b> {{ profile.image.url }}</p>
            {% endif %}
            <a href="{% url 'download' path=profile.cv.name %}" class="btn btn-primary">הורד קורות חיים</a>
        </div>
        
    </div>
    <br><br><br><br>
    <div class="profile-preview row">
    {% if ".pdf" in profile.cv.name and not is_mobile or ".PDF" in profile.cv.name and not is_mobile %}
        <iframe src="{{ MEDIA_URL }}{{ profile.cv.name }}" min-width="200vh" width="800vh" height="1000" type="application/pdf" allowfullscreen></iframe>
    {% else %}
        תצוגה מקדימה אינה זמינה, אנא הורד את קורות החיים
    {% endif %}
    </div>
</div>

{% endblock %}


