{% extends 'cvr/base.html' %}

{% block title %}{{ block.super }} - רישום{% endblock %}

{% block header %}
  <li role="presentation"><a href="{% url 'home' %}" class="btn btn-primary">חזרה לדף הבית</a></li>
{% endblock %}

{% block content %}
  <h2>רישום לאתר</h2>
  <div class="create_user">
    <form action="{% url 'register' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_ul }}
      <input type="submit" value="צור" class="btn btn-primary">
    </form>
  </div>
{% endblock %}
