{% extends 'cvr/base.html' %}

{% block title %}{{ block.super }} - עדכון פרטים{% endblock %}

{% block header %}
  <li role="presentation"><a href="{% url 'logout' %}" class="btn btn-primary">התנתקות</a></li>
  <li role="presentation"><a href="{% url 'profile' profile_id=profile.id %}" class="btn btn-primary">פרופיל</a></li>
   {% if user.is_staff or user.profile.is_privledged %}
        <li role="presentation"><a href="{% url 'home' %}" class="btn btn-primary">חזרה לדף הבית</a></li>
    {% endif %}
{% endblock %}

{% block content %}
  <div class="update_user">
    <h2>עדכון פרטים </h2>
    <form action="{% url 'update_profile' profile_id=profile.id %}" method="post" enctype="multipart/form-data" id="update_form">
        {% csrf_token %}
        <!--{{ form.as_table }}-->
         <div class="fieldWrapper">
            <label for="{{ form.first_name.id_for_label }}" style="width:100px" >שם פרטי:</label>
            {{ form.first_name }}
         </div>
         <div class="fieldWrapper">
            <label for="{{ form.last_name.id_for_label }}" style="width:100px" >שם משפחה:</label>
            {{ form.last_name }}
         </div>
         <div class="fieldWrapper">
            <label for="{{ form.free_text.id_for_label }}" style="width:100px" >טקסט חופשי:</label>
            {{ form.free_text }}
         </div>
         <div class="fieldWrapper">
            <label for="{{ form.cv.id_for_label }}" >קורות חיים: </label>
            {% if profile.cv.name %}
            <br>
            <a href="{% url 'download' path=profile.cv.name %}"> {{ profile.cv.name }} </a>
            <input type="checkbox" name="cv-clear" id="cv-clear_id" />
            <label for="cv-clear_id">מחק</label>
            {% endif %} 
            <input type="file" name="cv" class="form-control" id="id_cv"/>
            <!--{{ form.cv }}-->
         </div
         <br>
         <div class="fieldWrapper">
            <label for="{{ form.image.id_for_label }}" style="width:100px" >תמונה:</label>
            {{ form.image }}
         </div>
      <input type="submit" value="עדכן" class="btn btn-primary" id="update_submit">
    </form>
  </div>
{% endblock %}
